<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar html</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>

    <header class="header">
        <h2 id="h2">Belajar html dasar</h2>
        <p>Ditulis Oleh <span>Dava aditya perdana</span>
            pada tanggal<span>12 maret 2027</span>
        </p>
        <nav class="link">
            <a href="./index.html">Home</a>
            <a href="./register.html">register</a>
            <a href="./login.html">login</a>
        </nav>
    </header>
    
    <article class="artike-1">
        <h3 id="h3">apa itu html ?</h3>
        <img src="./img/html-cretaor.jpg" alt="" id="img-1">
        <p id="p-1">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, dolore voluptatem ipsam magni maxime cupiditate, ullam illum a voluptas sed distinctio possimus eligendi dolor! Officiis suscipit aspernatur labore expedita sapiente?
            Officiis accusantium magnam similique debitis. Iste neque esse quia dignissimos, quaerat autem. Quod consequuntur pariatur repellendus provident voluptatibus debitis fugit, officiis temporibus quis culpa dolore! Autem incidunt nisi deleniti ipsa.
            Deserunt pariatur doloribus debitis optio, obcaecati doloremque atque beatae magni reiciendis, praesentium quidem soluta corporis, rem officia cumque dolor tempora tenetur fugit explicabo voluptate delectus placeat sint. Recusandae, eaque quae.
            Rerum amet laudantium culpa ducimus, modi similique iure saepe architecto laboriosam ipsum sit id dolorum nobis cum omnis fugit delectus, quos at ab quo eius nemo voluptas beatae? Exercitationem, consequuntur.
        </p>
    </article>
    <article class="artikel-2">
        <h3 id="h3">sejarah html ?</h3>
        <img src="./img/P.jpg" alt="" id="img-2">
        <p id="p-2">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero mollitia dolorum quia corporis voluptate unde enim iusto facilis eligendi deserunt odio eaque blanditiis illo fugiat, consequuntur a ab nostrum eius.
            Accusamus enim consequatur nesciunt maiores nisi voluptatibus magni possimus temporibus soluta. Repudiandae similique deserunt explicabo at asperiores molestiae nulla modi deleniti ab saepe ipsam, autem, natus iusto iste cum nam.
            Doloribus nam eveniet sequi sapiente, laborum ipsa, amet fugiat eaque eligendi, nemo ex nobis corporis iste temporibus facilis impedit! Beatae ex sed ipsum velit aut iure tempore, minima aliquid excepturi?
            Quas, saepe fugiat non, id quibusdam quia incidunt harum molestiae nemo similique eveniet culpa cumque! Nisi beatae ex atque quibusdam blanditiis nesciunt animi, at aut, quod minima laboriosam quas nostrum.
            Dicta consectetur deserunt, eveniet sed iusto, fugit voluptatem dolor ad molestias veritatis dolorem laudantium. Ducimus a voluptas animi odio perspiciatis magni rem, atque quaerat, dolorum harum necessitatibus illo eius molestias!
        </p>
    </article>

    <footer class="footer">
        <p id="f-p">&copy; copyright by Humansright</p>
    </footer>
</body>
</html>