<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <header>
        <h2>Register</h2>
        <nav>
            <a href="./login.html">login</a>
        </nav>
    </header>
    <br>
    <form action="">
        <fieldset>
            <legend>Username and password</legend>
            <label for="name">Name</label>
            <input type="text" placeholder="Name" id="name"><br><br>
            <label for="password">password</label>
            <input type="password" name="password" id="password" placeholder="password"><br><br>
            <textarea name="mauskan" id="masukan" cols="100" rows="10">Pesan saya :</textarea><br><br>
        </fieldset>
        <fieldset>
            <legend>Option</legend>
            <input type="radio" name="gender" id="gender"value="perempuan">perempuan
            <input type="radio"value="Laki-Laki">Laki-Laki
            <br><br>
            <label for="">Hobi :</label><br>
            <input type="checkbox" name="" id=""> Membaca
            <input type="checkbox" name="" id="">Menulis
            <input type="checkbox" name="" id="">bermain music
            <input type="checkbox" name="" id="">Melukis
            <br><br>
            <label for="">bahasa pemrograman :</label>
            <select name="" id="">
                <option value="">Golang</option>
                <option value="">javascript</option>
                <option value="">Nodejs</option>
                <option value="">C++</option>
                <option value="">C</option>
                <option value="">Python</option>
            </select>
            <br><br>
            <button>Register</button>
        </fieldset>
    </form>
    
</body>
</html>